.App {
  text-align: center;
}


.productContainer{
display: flex;
flex-wrap: wrap;
background: #f7f6f6;
margin:15px;
}
.productContainer > .link{
  box-shadow: 0 0 10px #463636;
  width:250px;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: inherit;
}
.shoestore{
  color: darkblue;
    font-style: italic;
    text-shadow: 3px 1px darkgrey;
    text-transform: capitalize;
}
.link h4{
 color: #000;
 text-transform: capitalize;
}
.productContainer > .link:hover{
  background-color: lightblue;
  color: #000;
  

}
.name{
  font-size: x-large;
  font-family: initial;
  text-shadow: 1px 1px gray;
}
.Aboutus > h3{
font-family: auto;
  width: fit-content;
  font-style: italic;
  margin: 30px;
}
